html,body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* Fotografie en webdesign text */
.left-text1 {
  position: absolute;
  top: 30%;
  right: 0;
  font-size: 140px;
  color: #c6314f;
}
.left-text2 {
  position: absolute;
  top: 44%;
  right: 0;
  font-size: 120px;
  color: #c6314f;
}

.right-text1 {
  position: absolute;
  top: 30%;
  left: 0;
  font-size: 140px;
  color: #2b2d2c;
}
.right-text2 {
  position: absolute;
  top: 44%;
  left: 0;
  font-size: 120px;
  color: #2b2d2c;
}

/* banner left */

.banner-homepage {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

/* logo */

.logo {
  position: absolute;
  width: 25%;
  top: 11%;

}

.logo-pos{
  -webkit-transform: scale3d(1.5, 1.5, 1.5) translate3d(50px, -50px, 0);
          transform: scale3d(1.5, 1.5, 1.5) translate3d(50px, -50px, 0);
}
/* homepage image cover */

.homepage-cover {
  background-image: url('/img/banners/homepage.jpg');
  background-position: center;
  background-size: cover;
}

/* nav hamburger menu button */

#nav-icon {
  z-index: 2;
  width: 60px;
  height: 45px;
  position: absolute;
  right: 2%;
  top: 2%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .20s ease-in-out;
  -o-transition: .20s ease-in-out;
  transition: .20s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #2b2d2c;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .60s ease-in-out;
  -o-transition: .60s ease-in-out;
  transition: .60s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
      transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
      transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
      transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  top: -3px;
  left: 8px;
  background: #c6314f;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  top: 39px;
  left: 8px;
  background: #c6314f;
}

/* menu */

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.overlay-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 25%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    font-weight: bolder;
    padding: 8px;
    text-decoration: none;
    font-size: 42px;
    color: #c6314f;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    white-space: nowrap;

}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.hide{
  display: none;
}

/* mobile */

@media only screen and (max-width: 415px) and (min-width:320px) {
  .homepage-cover{
    display: none;
  }
  .hide{
    display: inline-block;
  }

  .right-text1 {
    font-size: 50px;
    top: 20%;
  }

  .right-text2 {
    font-size: 45px;
    top: 27%;
    left: 1%;
  }




  .overlay a {
      font-size: 28px;
  }


}

@media only screen and (min-width: 375px) and (min-height:812px) {
  .logo{
    top: 13%;
  }

}


/* desktop */

@media only screen and (min-width: 1024px) {
  .logo {
    top: 19%;
  }
  .left-text1 {
    font-size: 100px;
  }
  .left-text2 {
    font-size: 80px;
  }
  .right-text1 {
    font-size: 100px;
  }
  .right-text2 {
    font-size: 80px;
  }
  .overlay a {
      font-size: 31px;
  }
}

@media only screen and (min-width: 1280px) {
  .logo {
    top: 19%;
  }
  .left-text1 {
    font-size: 110px;
  }
  .left-text2 {
    font-size: 90px;
  }
  .right-text1 {
    font-size: 110px;
  }
  .right-text2 {
    font-size: 90px;
  }
  .overlay a {
      font-size: 35px;
  }
}

@media only screen and (min-width: 1280px) and (max-height: 720px) {
  .logo {
    top: 10%;
  }
  .left-text1 {
    font-size: 110px;
  }
  .left-text2 {
    font-size: 90px;
  }
  .right-text1 {
    font-size: 110px;
  }
  .right-text2 {
    font-size: 90px;
  }
  .overlay a {
      font-size: 35px;
  }
}

@media only screen and (min-width: 1280px) and (max-height: 800px) {
  .logo {
    top: 12%;
  }
  .left-text1 {
    font-size: 110px;
  }
  .left-text2 {
    font-size: 90px;
  }
  .right-text1 {
    font-size: 110px;
  }
  .right-text2 {
    font-size: 90px;
  }
  .overlay a {
      font-size: 35px;
  }
}

@media only screen and (min-width: 1440px) {
  .logo {
    top: 11%;
  }

}

@media only screen and (min-width: 1680px) {
  .logo {
    top: 11%;
  }

  .left-text1 {
    font-size: 120px;
  }
  .left-text2 {
    font-size: 100px;
  }
  .right-text1 {
    font-size: 120px;
  }
  .right-text2 {
    font-size: 100px;
  }
  .overlay a {
      font-size: 41px;
  }

}



/* ipad */

@media only screen and (width: 768px) and (height:1024px) {
.col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 58.666667%;
    max-width: 90.666667%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 41.333333%;
    max-width: 89.333333%;
}

.logo {
  top: 24%;
  width: 30%;
}
.left-text1 {
  font-size: 90px;
}
.left-text2 {
  font-size: 70px;
  top: 38%;
}
.right-text1 {
  font-size: 90px;
}
.right-text2 {
  font-size: 70px;
  top: 38%;
}
}

@media only screen and (min-width: 1024px) and (min-height:1366px) {
.col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 58.666667%;
    max-width: 90.666667%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 41.333333%;
    max-width: 89.333333%;
}

.logo {
  top: 22%;
  width: 35%;
}
.left-text1 {
  font-size: 110px;
}
.left-text2 {
  font-size: 90px;
  top: 38%;
}
.right-text1 {
  font-size: 110px;
}
.right-text2 {
  font-size: 90px;
  top: 38%;
}
.overlay a {
    font-size: 71px;
}
}

/* ultrawide screen */

@media only screen and (min-width: 2560px) and (min-height: 1440px) {
  .logo {
    top: 11%;
    width: 25%;
  }

  .left-text1 {
    font-size: 180px;
  }
  .left-text2 {
    font-size: 160px;
    top:40%;
  }
  .right-text1 {
    font-size: 180px;
  }
  .right-text2 {
    font-size: 160px;
    top:40%;
  }
  .overlay a {
      font-size: 71px;
  }

  #nav-icon {
    width: 63px;
    height: 85px;
  }

}

@media only screen and (min-width: 2560px) and (min-height: 1080px) {
  .logo {
    top: 10%;
    width: 23%;
  }

  .left-text1 {
    font-size: 180px;
  }
  .left-text2 {
    font-size: 160px;
    top:43%;
  }
  .right-text1 {
    font-size: 180px;
  }
  .right-text2 {
    font-size: 160px;
    top:43%;
  }
  .overlay a {
      font-size: 71px;
  }

  #nav-icon {
    width: 63px;
    height: 85px;
  }

}

@media (width: 568px) and (height: 320px),(width: 640px) and (height: 360px) {
  .homepage-cover{
    display: none;
  }
  .hide{
    display: inline-block;
  }

  .right-text1 {
    font-size: 80px;
  }
  .right-text2 {
    font-size: 60px;
    top: 50%;
    left:1%;
  }
  .overlay a {
      font-size: 31px;
  }

  .logo{
    width: 20%;
  }

  .overlay-content {
    top: 0%;

  }
}

@media (max-width: 668px) and (max-height: 376px) {
  .homepage-cover{
    display: none;
  }
  .hide{
    display: inline-block;
  }

  .right-text1 {
    font-size: 80px;
  }
  .right-text2 {
    font-size: 60px;
    top: 50%;
    left:1%;
  }
  .overlay a {
      font-size: 31px;
  }

  .logo{
    width: 20%;
  }

  .overlay-content {
    top: 0%;

  }
}

@media (max-width: 732px) and (max-height: 412px), (max-width: 737px) and (max-height: 415px) {
  .homepage-cover{
    display: none;
  }
  .hide{
    display: inline-block;
  }

  .right-text1 {
    font-size: 80px;
  }
  .right-text2 {
    font-size: 60px;
    top: 50%;
    left:1%;
  }
  .overlay a {
      font-size: 31px;
  }

  .logo{
    width: 20%;
  }

  .overlay-content {
    top: 0%;

  }
}

@media (max-width: 824px) and (max-height: 412px), (max-width: 813px) and (max-height: 376px) {
  .left-text1 {
    font-size: 80px;
  }
  .left-text2 {
    font-size: 60px;
    top: 50%;
  }

  .right-text1 {
    font-size: 80px;
  }
  .right-text2 {
    font-size: 60px;
    top: 50%;
    left:0%;
  }
  .overlay a {
      font-size: 31px;
  }

  .logo{
    width: 20%;
    top: 20%;
  }

  .overlay-content {
    top: 0%;

  }
}

.phone-image{
  display: none;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 750px) and (orientation: portrait) {
  .phone-image{
    display: inline;
  }
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
